
 
 <div class="page-header">
    <div class="page-header-content">
        <h1> Najnowsze wpisy <small>({{len .List}})</small></h1>
        <a href="/" class="big page-back" style="background:url(/static/images/chrome.png); width: 48px; height: 48px;" title="Odśwież"></a>
    </div>
  </div>


	<div class="page-region">
		<div class="page-region-content">
                          

{{range .List}}   
 
	<h3 id="p{{.Id}}">{{.Title}}</h3>
	<div class="page snapped" style="background-color: #ccc; height: 200px">  
    	({{.Updated}})    
    
  	</div>	
	<div class="page fill bg-color-blue" style="height: 200px">
		{{.Summary}} 
	</div>	
 
{{end}}

    	</div>
	</div>     
 