{{define "title"}}{{end}} 
{{define "addCss"}}{{end}} 
{{define "addJs"}}{{end}} 

{{define "description"}}{{end}} 
{{define "keywords"}}{{end}} 

<meta charset="utf-8">
<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">

<link rel="Shortcut icon" href="/static/icons/favicon.ico" type="image/x-icon" />
<meta name="description" content="{{template "description"}}"> 
<meta name="keywords" content="{{template "keywords"}}">

<link href="/static/css/modern.css" rel="stylesheet">
<link href="/static/css/modern-responsive.css" rel="stylesheet">
<link href="/static/css/site.css" rel="stylesheet" type="text/css">
<link href="/static/js/google-code-prettify/prettify.css" rel="stylesheet">
 
{{template "addCss"}}

<script src="/static/js/jquery-1.8.2.min.js"></script>
<script src="/static/js/google-analytics.js"></script>
<script src="/static/js/github.info.js"></script>
<script src="/static/js/google-code-prettify/prettify.js"></script>

{{template "addJs"}}

<title>{{template "title"}}</title>