
 
 <div class="page-header">
    <div class="page-header-content">
        <h1> Lista kategorii <small>({{len .List}})</small></h1>
        <a href="/" class="back-button big page-back"></a>
    </div>
  </div>
 

	<div class="page-region">
		<div class="page-region-content">                          
{{range .List}}
	<a id="p{{.Id}}" href="/k/id/{{.Id}}" style="font-size:{{.FontSize}}px"
		title="Ostatnia aktualizacja w kategorii: {{.LastUpdate}}">{{.Name}} </a> 
		<span  style="font-size:{{.FontSize}}px">({{.Count}})</span>
{{end}}
    	</div>
	</div>     
 